a {
    text-decoration: none;
}
.item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    &__image{
        
        margin-right: 8px;
        max-width: 180px;

    }
    &__title{
        color: $dark;
        @include size(5);
        font-family: 'Robotoo';
    }
    &__info{
        align-self: flex-start;
        // margin-top: 10px;
    }
    &__views,
    &__channel{
        margin-top: 4px;
        color: $gray1;
        @include size(3);
        font-family: 'Robotoo';
    }
}