a {
    text-decoration: none;
}
.item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    &__image{
        border-radius: 50%;
        margin-right: 8px;
        max-width: 100px;

    }
    &__title{
        color: $dark;
        @include size(8);
        font-family: 'Robotoo';
    }
    &__info{
        align-self: flex-start;
        margin-top: 10px;
    }
    &__subscribers{
        margin-top: 4px;
        color: $gray1;
        @include size(4);
        font-family: 'Robotoo';
    }
    &__videos{
        margin-top: 4px;
        color: $gray1;
        @include size(3);
        font-family: 'Robotoo';
    }
   
}