.mobfilter {
    padding: 12px 12px;
    border-bottom: 1px solid $gray1;
    &__content{
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        margin-right: 4px;
        padding: 0 10px;
        border: 1px solid rgba(0,0,0,0.102);
        border-radius: 2px;
        color: #0f0f0f;
        background: #f1f1f1;
        max-width: 100%;
    }
    &__select{
     
            padding: 8px 20px 8px 0;
            margin: 0;
            border: none;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: inherit;
            background: none;
            @include size(6);
            font-family: 'Roboto';
            width: 100%;
    }
    &__arrow {
        max-width: 12px;
        position: absolute;
        right:12px;
        top: 12px;
    }
}

.container {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}
.spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__image {
        max-width: 100px;
    }
    &__loading {
        @include size(4);
        margin-top: 8px;
    }
}
.loadmore {
    text-align: center;
    
    border-top: 1px solid $gray1;
    cursor: pointer;
    &__text {
       
    margin: 10px 0;
    color: $gray1;
    @include size(4);
   
    }

    &__spinner {
        padding: 2px 0;
        max-width: 80px;
    }

}
.mob-filter{
        display: none;
    }
    .desktop-filter {
        display: block;
    }
@media (max-width: 767.98px) { 
    .mob-filter{
        display: block;
    }
     .desktop-filter {
        display: none;
    }
}
.filters {
    display: flex;
    justify-content: space-between;
}

.cursor-pionter {
    cursor: pointer;
    line-height: 2.2rem;
}

