.inner__container{
    margin-left: -15px;
    margin-right: -15px;
    background-color: unset;
}
.frame {
    &__wrapper {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }
    &__wrapper iframe,
    &__wrapper object,
    &__wrapper video,
    &__wrapper embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &__info {
        border-top: 1px solid $gray1;
        border-bottom: 1px solid $gray1;
        padding: 12px 15px 30px 15px;
        margin-bottom: 20px;

        &--flex {
            display: flex;
            align-items: center;
        }
        &--between {
            justify-content: space-between;
        }
        &--max {
            max-width: 60px;
            width: 100%;
        }
        &--box {
            width: 50%;
        }
        &--end {
            justify-content: flex-end;
        }
        &--mobile {
            display: flex  ;
        }
        &--desk{
            display: none;
        }
    }
    &__title {
        @include size(6);
        color: $dark;
        font-family: "Roboto";
        margin-bottom: 4px;
    }
    &__down {
        max-width: 10px;
        margin-left: 6px;
        margin-right: 4px;
        align-self: flex-start;
    }
    &__channel {
        @include size(4);
        color: $dark;
        font-family: "Roboto";
        margin-bottom: 12px;
    }
    &__views {
        @include size(2);
        color: $gray1;
        margin-left: 6px;
        font-family: "Roboto";
        margin-bottom: 12px;
    }
    &__like {
        @include size(4);
        color: $gray1;
        margin-left: 6px;
        display: inline-block;
        &--img {
            max-width: 14px;
        }
    }
    &__dislike {
        @include size(4);
        color: $gray1;
        margin-left: 6px;
        display: inline-block;
        &--img {
            max-width: 14px;
        }
    }
    &__plus {
        max-width: 14px;
        margin-right: 14px;
    }
    &__share {
        max-width: 14px;
        margin-right: 14px;
    }
    &__flags {
        max-width: 14px;
    }

    
}
@media (min-width: 992px) {
    .inner__container {
        max-width: 750px;
        background-color: white;
    }
    .frame {
        &__info {
            &--mobile {
                display: none;
            }
            &--desk{
                display: flex;
            }
            &--max{
                max-width: 80px;
            }
        }
        &__down{
            display: none;
        }
        &__like {
          margin-right: 20px;
        }
        &__dislike {
            margin-right: 20px;
        }
        &__plus {
            margin-right: 20px;
        }
        &__share {
            margin-right: 10px;
            &--text{
                @include size(4);
                color: $gray1;
                font-family: "Roboto";
            }
        }
        &__flags{
            &--desk{
                margin-left:20px
            }
        }
       
    }
}
