
.navdesk {
display: none;
}
.navmob {
    background-color: $primary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 12px;
    &__logo {
        max-width: 34px;
        margin-right: 8px;
    }
    &__search{
        max-width: 18px;
        align-self: center;
        margin-left: 12px;
    }
    &__input{
        width: 100%;
        border: 0 solid #ddd;
        outline: 0;
        box-shadow: none;
        padding: 6px;
        
    }
    &__key{
        color: $white;
        width: 80%;
        @include size(6);
        
    }
    &__content{
        width: calc(100% - 70px);
        display: flex;
        
        position: relative;
    }
    &__close {
        max-width: 9px;
        right: 10px;
        top: 10px;
        position: absolute;
    }
    
}

@media (min-width: 992px) { 
    header  {
        background-color: $white;
        box-shadow: -3px -2px 6px 1px rgb(0 0 0 / 12%);
        position: fixed;
        width: 100%;
        z-index: 100;
    }
    .navmob{
        display: none;
    }
    .navdesk {
        display: flex;
        align-items: center;
       
        &__logo{
            max-width: 100px;
            margin-left: -10px;
        }
        &__input {
            width: 100%;
            max-width: 600px;
            border: 1px solid #ddd;
            outline: 0;
            box-shadow: none;
            padding: 6px;
        }
        &__button {
            background: #f1f1f1;
            border: 1px solid #ddd;
            width: 80px;
            align-self: stretch;
            cursor: pointer;
        }
        &__search{
            max-width: 14px;
        }
        &__content{
            margin-left: 60px;
            display: flex;
            align-items: center;
            max-width: 600px;
            width: 100%;
        }
    }
    
 }

