
.nav {
    background-color: $primary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 12px;
    &__logo {
        max-width: 34px;
        margin-right: 8px;
    }
    &__search{
        max-width: 18px;
        align-self: center;
        margin-left: 12px;
    }
    &__input{
        width: 100%;
        border: 0 solid #ddd;
        outline: 0;
        box-shadow: none;
        padding: 6px;
        
    }
    &__key{
        color: $white;
        width: 80%;
        @include size(6);
        
    }
    &__input--active{
        opacity: 1;
        transform: translate(-50%,-50%);
    }
    &__content{
        width: calc(100% - 70px);
        display: flex;
        
        position: relative;
    }
    &__close {
        max-width: 9px;
        right: 10px;
        top: 10px;
        position: absolute;
    }
    
}
.active{
    opacity: 1;
    transform: translate(-50%,-50%);
}